
<div class="toast toast-top toast-end z-50" [class.hidden]="!isVisible()">
  <div 
    class="alert shadow-lg"
    [class.alert-success]="type() === 'success'"
    [class.alert-error]="type() === 'error'"
    [class.alert-info]="type() === 'info'"
  >
    <div class="flex items-center gap-3">
      <!-- Success -->
      <ng-icon class="text-xl" *ngIf="type() === 'success'" name="ion:checkmark-done-sharp"></ng-icon>

      <!-- Error -->
      <ng-icon class="text-xl" *ngIf="type() === 'error'" name="ion:alert-circle-sharp"></ng-icon>

      <!-- Info -->
      <ng-icon class="text-xl" *ngIf="type() === 'info'" name="ion:information-circle-sharp"></ng-icon>

      <!-- Mensaje -->
      <span class="font-medium">{{ message() }}</span>
    </div>

    <button (click)="hide()" class="btn btn-sm btn-circle btn-ghost">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
</div>
