<div class="drawer">
        <input id="my-drawer-1" type="checkbox" class="drawer-toggle " />
        <div class="drawer-content">
          <label for="my-drawer-1" class="btn btn-lg drawer-button  bg-blue-700 border-none shadow-none text-white text-4xl "> ≡ </label>
        </div>
        <div class="drawer-side">
          <label for="my-drawer-1" aria-label="close sidebar" class="drawer-overlay "></label>
          <ul class="menu bg-blue-700 min-h-full w-60 p-7  ">
           <li class="text-3xl font-bold text-white"><a [routerLink]="'/logs'">Logs</a></li>
           <div class="divider"></div>
           <li class="text-3xl font-bold text-white"><a [routerLink]="'/logs-users'">Logs Users</a></li>
           <div class="divider"></div>
           <li class="text-3xl font-bold text-white"><a [routerLink]="'/tenants'">Tenants</a></li>
           <div class="divider"></div>
           <li class="text-3xl font-bold text-white"><a [routerLink]="'/plans'">Plans</a></li>
           <div class="divider"></div>
           <li class="text-3xl font-bold text-white"><a [routerLink]="'/configuration'">Settings</a></li>
          </ul>
        </div>
</div>
