<div id="logsTable" class="overflow-x-auto p-10 ">
  <div class="flex justify-between items-center ">
    <h1 class="text-4xl font-bold text-base-content flex items-center gap-3">
      <ng-icon name="ionDocumentTextOutline" class="text-4xl"></ng-icon>
      <span>Registros</span>
    </h1>
    
  </div>

  <div class="p-5">

    <div class="flex flex-wrap items-end">
      <div class="flex gap-2 items-end">
        <label class="form-control">
          <div class="label">
            <span class="label-text text-sm">Fecha inicio</span>
          </div>
          <input 
            type="date" 
            class="input input-sm input-bordered ml-3 w-40"
            [(ngModel)]="startDate"
            (change)="onDateChange()"
          />
        </label>
        
        <label class="form-control">
          <div class="label">
            <span class="label-text ml-3 text-sm">Fecha fin</span>
          </div>
          <input 
            type="date" 
            class="input input-sm input-bordered ml-3 w-40"
            [(ngModel)]="endDate"
            (change)="onDateChange()"
          />
        </label>
      </div>
      <select 
        class="select select-sm w-40 ml-3" 
        [(ngModel)]="selectedPage" 
        (change)="onPageSelect($event)"
        [disabled]="availablePages.length === 0"
      >
        <option value="" disabled selected>Número de página</option>
        <option *ngFor="let page of availablePages" [value]="page">
          Página {{ page }}
        </option>
      </select>

      <div class="flex gap-2">
        <button 
          (click)="clearDateFilters()" 
          class="btn btn-sm bg-gray-600 text-white ml-3 border-none hover:bg-gray-700"
        >
          Limpiar filtros
        </button>
      </div>
    </div>
    <div class="text-center " *ngIf="loading">
      <span class="loading loading-ring loading-6xl"></span>
    </div>
    <div class="text-center p-10" *ngIf="!loading && totalLogsCount === 0 && (!startDate || !endDate)">
      <p class="text-2xl text-gray-500">Seleccione un rango de fechas para ver los logs</p>
    </div>
    <div class="text-center p-10" *ngIf="!loading && totalLogsCount === 0 && startDate && endDate">
      <p class="text-2xl text-gray-500">No se encontraron logs para el rango de fechas seleccionado</p>
    </div>
  </div>

  
  <div class="min-h-[600px] mt-3">
    <table *ngIf="paginatedLogs?.length" class="table table-xs w-full">
      <thead>
        <tr>
          <th class="text-md text-base-content text-center">
            <div class="flex items-center justify-center gap-1">
              <ng-icon name="ionIdCardOutline" class="text-xl"></ng-icon>
              <span>Posición</span>
            </div>
          </th>
          <th class="text-md text-base-content text-center">
            <div class="flex items-center justify-center gap-1">
              <ng-icon name="ionTimeOutline" class="text-xl"></ng-icon>
              <span>Hora</span>
            </div>
          </th>
          <th class="text-md text-base-content text-center">
            <div class="flex items-center justify-center gap-1">
              <ng-icon name="ionCalendarOutline" class="text-xl"></ng-icon>
              <span>Fecha</span>
            </div>
          </th>
          <th class="text-md text-base-content text-center">
            <div class="flex items-center justify-center gap-1">
              <ng-icon name="ionColorFilterOutline" class="text-xl"></ng-icon>
              <span>Tipo de Log</span>
            </div>
          </th>
          <th class="text-md text-base-content">
            <div class="flex items-center gap-1">
              <ng-icon name="ionReaderOutline" class="text-xl"></ng-icon>
              <span>Contenido</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of paginatedLogs; let i = index">
          <td class="text-xl text-center">{{ log.id }}</td>
          <td class="text-xl text-center">{{ log.time }}</td>
          <td class="text-xl text-center">{{ log.date }}</td>
          <td class="text-xl text-center">
            <span [ngClass]="getLogLevelClass(log.logLevel)" class="badge badge-sm font-semibold">
              {{ log.logLevel }}
            </span>
          </td>
          <td class="text-sm">
            <div class="collapse collapse-arrow bg-base-200">
              <input type="checkbox" name="accordion-{{ log.id }}" />
              <div class="collapse-title ">
                {{ log.content.length > 80 ? (log.content.substring(0, 80) + '...') : log.content }}
              </div>
              <div class="collapse-content">
                <p>{{ log.content }}</p>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav *ngIf="totalLogsCount > 0" class="flex  w-auto items-center flex-col md:flex-row justify-between p-4 pt-4 mt-3 border-t bg-gray-800  shadow-md rounded-md" aria-label="Table navigation">
    <span class="text-sm font-normal text-white text-body mb-4 md:mb-0 block w-full md:inline md:w-auto">
        Mostrando página <span class="font-semibold text-white ">{{ currentPage }}</span> de <span class="font-semibold text-heading">{{ totalPages }}</span> (Total: {{ totalLogsCount }} logs)
    </span>
    <ul class="flex space-x-1 text-sm justify-center text-white">
        <li>
            <button (click)="prevPage()" [disabled]="currentPage === 1" [class.opacity-50]="currentPage === 1" class="flex items-center justify-center text-body  border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium rounded-full text-sm px-3 h-9 transition-colors duration-200 transform hover:scale-105 active:scale-95 shadow-sm shadow-white focus:ring-2 focus:ring-brand focus:outline-none disabled:cursor-not-allowed disabled:opacity-50">Previous</button>
        </li>
        <li *ngFor="let page of getPageNumbers()">
            <button *ngIf="page !== '...'" (click)="goToPage($any(page))" [class.text-fg-brand]="page === currentPage" [class.bg-brand-softer]="page === currentPage" [class.bg-neutral-secondary-medium]="page !== currentPage" class="flex items-center justify-center text-body hover:bg-neutral-tertiary-medium hover:text-heading font-medium rounded-full text-sm w-9 h-9 transition-colors duration-200 transform hover:scale-105 active:scale-95 shadow-sm shadow-white focus:ring-2 focus:ring-brand focus:outline-none">
                {{ page }}
            </button>
            <span *ngIf="page === '...'" class="flex items-center justify-center text-body bg-neutral-secondary-medium  font-medium rounded-full text-sm w-9 h-9">...</span>
        </li>
        <li>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages" [class.opacity-50]="currentPage === totalPages" class="flex items-center justify-center text-body bg-neutral-secondary-medium  hover:bg-neutral-tertiary-medium hover:text-heading font-medium rounded-full text-sm px-3 h-9 transition-colors duration-200 transform hover:scale-105 active:scale-95 shadow-sm shadow-white focus:ring-2 focus:ring-brand focus:outline-none disabled:cursor-not-allowed disabled:opacity-50">Next</button>
        </li>
    </ul>
  </nav>
</div>