<dialog #modal id="modal-authenticate" class="modal  modal-middle">
  <form method="dialog" class="modal-box h-auto max-w-[700px]" id="modalAuthenticateForm" onsubmit="return false;">
    <h2 class="font-bold text-2xl">Verificar código</h2>
    <p class="py-2 text-lg mt-2">Antes de continuar, debe comprobar su identidad </p>
    
    <div class="text-8xl mt-3 text-center text-gray-500">
            <ng-icon name="ionSendOutline" ></ng-icon>
        </div>
    <p class="py-2 text-lg ">Ingresa el código que fue enviado a tu correo<span  class="font-medium"></span></p>
        
    <input id="authCode" type="text" placeholder="013423" class="text-2xl text-center input input-bordered input-md content-center mt-3 w-full text-gray-400" />
    
    <p id="codeError" class="text-red-500 text-sm mt-2 hidden">Código incorrecto. Intente de nuevo.</p>

    <div class="modal-action">
      <button type="submit" id="verifyBtn" class="btn bg-blue-600 btn-lg hover:bg-blue-700 text-white" (click)="verify()">Verificar</button>
      <button type="button" id="cancelBtn" class="btn btn-error text-white btn-lg " (click)="cancel()">Cerrrar</button>
    </div>
  </form>
</dialog>