<dialog #modal id="modal-authenticate" class="modal  modal-middle">
  <form method="dialog" class="modal-box h-auto max-w-[600px]" id="modalAuthenticateForm" onsubmit="return false;">

    <h2 class="font-bold text-3xl text-center">Verificar código</h2>

    <p class="py-2 text-lg mt-2 text-center">Antes de continuar, debe comprobar su identidad </p>
    
    <div class="text-7xl text-center text-gray-500 mt-5">
            <ng-icon name="ionSendOutline" ></ng-icon>
    </div>

      <p class="mt-2 text-lg text-center">Ingresa el código que fue enviado a tu correo<span  class="font-medium"></span></p>
      
    <div class="text-center mt-3">
    
      <input id="authCode"  type="text" placeholder="013423" class="text-3xl text-center input input-bordered input-lg content-center  max-w-4/5 text-gray-400" />
    
    </div>

    <p id="codeError" class="text-red-500 text-sm text-center mt-2 hidden">Código incorrecto. Intente de nuevo.</p>

    <div class="modal-action">
    
      <button type="submit" id="verifyBtn" class="btn btn-soft btn-accent btn-lg" (click)="verify()">Verificar</button>
      <button type="button" id="cancelBtn" class="btn btn-soft btn-error btn-lg " (click)="cancel()">Cerrrar</button>
    
    </div>
  </form>
</dialog>