<dialog #modal id="modal-authenticate" class="modal modal-bottom sm:modal-middle">
  <form method="dialog" class="modal-box" id="modalAuthenticateForm" onsubmit="return false;">
    <h3 class="font-bold text-lg">Verificar código</h3>
    <p class="py-2 text-sm">Se ha enviado un código al correo <span id="emailDisplay" #emailDisplay class="font-medium"></span>.</p>

    <input id="authCode" type="text" placeholder="Ingrese el código" class="input input-bordered mt-2 w-full" />
    <p id="codeError" class="text-red-600 text-sm mt-2 hidden">Código incorrecto. Intente de nuevo.</p>

    <div class="modal-action">
      <button type="button" id="verifyBtn" class="btn btn-info" (click)="verify()">Verificar</button>
      <button type="button" id="cancelBtn" class="btn" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</dialog>